{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href= {% static "images/favicon.ico"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= {% static "login/vendor/bootstrap/css/bootstrap.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= {% static "login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= {% static "login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= {% static "login/vendor/animate/animate.css" %}>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href= {% static "login/vendor/css-hamburgers/hamburgers.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= {% static "login/vendor/animsition/css/animsition.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= {% static "login/vendor/select2/select2.min.css" %}>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href= {% static "login/vendor/daterangepicker/daterangepicker.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= {% static "login/css/util.css" %}>
	<link rel="stylesheet" type="text/css" href= {% static "login/css/main.css" %}>
<!--===============================================================================================-->

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" action= {% url 'application:verify-register' %} method="post">
					{% csrf_token%}
					<span class="login100-form-title p-b-51">
						Register
					</span>

					
					<div class="wrap-input100 validate-input" data-validate="Please enter your Username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
	
					<div class="wrap-input100 validate-input" data-validate = "Please enter your Email Address">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
					</div>
	
					<div class="wrap-input100 validate-input" data-validate = "Please enter your Organisation">
							<select class="input100" name="organisation">
									<option value="" disabled selected hidden>Organisation</option>
									{%for org in organisations%}
									<option value="{{org.name}}">{{org.name}}</option>
									{%endfor%}
							</select>
						<span class="focus-input100"></span>
					</div>
	
					<div class="wrap-input100 validate-input" data-validate = "Please enter your Province">
						<select class="input100" name="province">
								<option value="Gauteng">Gauteng</option>
								<option value="Western Cape">Western Cape</option>
								<option value="KwaZulu-Natal">KwaZulu-Natal</option>
								<option value="Eastern Cape">Eastern Cape</option>
								<option value="Northern Cape">Northern Cape</option>
								<option value="North West">North West</option>
								<option value="Limpopo">Limpopo</option>
								<option value="Free State">Free State</option>
								<option value="Mpumalanga">Mpumalanga</option>
						</select>
						<span class="focus-input100"></span>
					</div>
	
					<div class="wrap-input100 validate-input" data-validate = "Please enter your Password">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
	
					<div class="wrap-input100 validate-input" data-validate = "Please enter your Password again">
						<input class="input100" type="password" name="password-again" placeholder="Password again">
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-t-3 p-b-24">
					
					</div>

					<div class="container-login100-form-btn m-t-17">

						<!--
						<button class="login100-form-btn" > 
							Login
						</button> -->

						<input type="submit" value="Register" class="login100-form-btn">
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src= {% static "login/vendor/jquery/jquery-3.2.1.min.js" %}></script>
<!--===============================================================================================-->
	<script src= {% static "login/vendor/animsition/js/animsition.min.js" %}></script>
<!--===============================================================================================-->
	<script src= {% static "login/vendor/bootstrap/js/popper.js" %}></script>
	<script src= {% static "login/vendor/bootstrap/js/bootstrap.min.js" %}></script>
<!--===============================================================================================-->
	<script src= {% static "login/vendor/select2/select2.min.js"%}></script>
<!--===============================================================================================-->
	<script src= {% static "login/vendor/daterangepicker/moment.min.js" %}></script>
	<script src= {% static "login/vendor/daterangepicker/daterangepicker.js" %}></script>
<!--===============================================================================================-->
	<script src= {% static "login/vendor/countdowntime/countdowntime.js" %}></script>
<!--===============================================================================================-->
	<script src= {% static "login/js/main.js" %}></script>

</body>
</html>